*,
root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;

  /* Variables */
  --body-background-color: #2a3243;
  --primary-color: #5899e2;
  --secondary-color: white;
}

body {
  background-color: var(--body-background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.watermark_background {
  position: absolute;
  z-index: -5;
  width: 100vw;
  height: 100vh;
}

.watermark_txt {
  font-size: 13em;
  text-transform: uppercase;
  font-weight: 900;
  display: inline-block;
  position: absolute;
  color: var(--secondary-color);
  opacity: 0.01;
}

#watermark_rock {
  top: 1.2em;
  left: 0.15em;
}

#watermark_paper {
  bottom: 0.25em;
  left: 1.5em;
}

#watermark_scissors {
  right: -0.5em;
  bottom: 1.4em;
}

.main_title_cont {
  max-width: 50em;
  margin: 9em 0 3em 0;
}

.main_title {
  width: 100%;
}

.score_cont {
  width: 50vw;
  display: flex;
  justify-content: space-between;
}

.player_score_cont {
  text-align: center;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 1.4em;
}

.game_cont {
  width: 50vw;
  margin: 4em 0;
  display: flex;
  justify-content: space-between;
}

.play_area {
  height: 200px;
  width: 100px;
  position: relative;
}

.player_hand {
  position: absolute;
  bottom: 0;
  width: 120px;
}

#you_playing_hand {
  transform: rotateZ(90deg);
}

#computer_playing_hand {
  transform: scaleX(-1) rotateZ(90deg);
}

.controls_cont {
  width: 50vw;
  display: flex;
  justify-content: space-between;
}

.control_btn {
  background-color: var(--primary-color);
  text-transform: uppercase;
  color: var(--secondary-color);
  padding: 0.75em 2.5em;
  font-size: 1.5em;
  font-weight: bold;
  outline: none;
  border: 0;
  border-radius: 1em;
}

.control_btn:hover {
  transform: scale(1.05);
  transition: all ease-out 0.1s;
}

.control_btn:focus,
.control_btn:active {
  border: 2px solid var(--secondary-color);
}

@keyframes handAnimation {
  0% {
    bottom: 0;
  }
  16% {
    bottom: 80px;
  }
  33% {
    bottom: 0;
  }
  50% {
    bottom: 80px;
  }
  66% {
    bottom: 0;
  }
  83% {
    bottom: 80px;
  }
  100% {
    bottom: 0;
  }
}
